

html , body
{
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-family: Georgia, Tahoma, Geneva, Verdana, sans-serif;
	text-align: center
}

#scroll_top_btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
#scroll_top_btn:hover {
	background-color: #555;
}

p{
	font-size: 1.5em;
}
.me
{
	transform: rotate(90deg);
	object-fit: scale-down;
}

.separator{
	margin-top: 70px
}

.flex-container{
	display:flex; 
	justify-content: space-around;
}

.role{
	text-align: left
}