
th
{
	text-align: left;
}
img 
{
	width: 25%;
	height: 1%;
	border-radius: 30%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	display: block;
}



html body
{
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.edu
{
	font-family: cursive;
}

.edu h2
{
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

/*.project
{
	align-content: center;
	margin-right: 20px;
	margin-left: 20px;
	background-color: goldenrod;
}*/

.project > h3
{
	font-family: cursive;
	font-size: 60px;
	margin-bottom: 0px;
	text-align: center
}

.skill
{
	align-content: center;
	background-color: goldenrod;
	padding-top: 5px;
	margin-top: 20px;
	padding-bottom: 10px;
}

.skill > h1
{
	text-align: center;
	font-family: cursive;
	margin-bottom: 0px;
	font-size: 60px;	
}
.skill > h2
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: cursive;
	padding-top: 1px;	
}

@keyframes myanimation
{
	10%{background-color: green;}
	25%{background-color: gold;}
	50%{background-color: goldenrod;}
	75%{background-color: purple;}
	100%{background-color: bisque;}
} 
@keyframes TextColor
{
	10%{color: white;}
	25%{color: white}
	50%{color: black}
	75%{color: white}
	100%{color: black}
} 

@media screen and (max-width: 500px){
	.top{
		width: 500px;
		margin: auto;
	}
}
.top
{
	width: 100%;
	height: 100%;
	size: relative;
	margin: auto;
	overflow: auto;
	animation-name: myanimation;
	animation-duration: 20s;	
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: relative;
	box-shadow: 0 4px 8px 0;
	transition: 0.3s;
}
.top:hover{
	box-shadow: 0 8px 16px 0;
}
.top h6, .top p, .top h1{
	animation: TextColor 20s both linear infinite;
} 
p
{
	text-align: justify;
	font-family: cursive;	
}



a{
	text-decoration: none;
	text-anchor: middle;	
	font-weight: bold;	
	font-family:  "sans serif", "open sans","Times New Romans","cursive";
}
a:visited{
	color: green;
}
li{
	background-color: inherit;
	/*float: left;*/
	margin-left: 5%;
}
ul{
	list-style: none;
	padding-bottom: 50px;
}

/*Styling BootStraps*/
.row{
	margin: 20px;
	background-color: ghostwhite;
	width: 100%;
	height: 100%;
	box-shadow: 0 8px 16px 0;
}
/*.row:hover{
	
}*/

.navbar{
	margin-bottom: 10px;
}

.btn-group{
	margin-right:20px;
}
.btn{
	margin-top:10px;
	margin-right: 10px;
	border-radius: 30px;
}
.btn-sayhello{
	margin-top: 10px;
	border-radius: 10px;
	width: 100px;
	/*height: 30px;*/
	border: 1px solid;
}
.btn-sayhello:hover{
	background-color: white;
}
/*.progress{
	height: 9px;
}
.sTitle{
	height: 9px;
}*/

.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding-left: 90px;
	color: white;
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	padding-right: 90px;
	font-weight: 800;
}
@media screen and (min-width:800px) and (max-width:1900px){
.progress > .progress-type{
	padding-left: 130px;
}

}


.soft-skills{
	font-size: 20px;
	padding: 20px;
}