#fb{
	position:left;
	radius:50%;
}
th
{
	text-align: left;
}
img 
{
	width: 25%;
	height: 1%;
	border-radius: 30%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	display: block;
}

body
{
	/*background-image: url("images/usf.jpg");
	background-position: 0% 50%;
	background-repeat: no-repeat;*/
	background-color: goldenrod;
}

/** 
{
	margin: 0px;
	padding: 0px;
}*/

html body
{
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.edu
{
	font-family: cursive;
}

.edu h2
{
	font-size: 60px;
	margin-bottom: 0px;
}

.project
{
	align-content: center;
	align : center;
	margin-right: 20px;
	margin-left: 20px;
	background-color: goldenrod;/* lightgreen;*/
}

.project > h3
{
	font-family: cursive;
	font-size: 60px;
	margin-bottom: 0px;
}

.skill
{
	align-content: center;
	background-color: goldenrod;
	padding-top: 5px;
	margin-top: 20px;
	padding-bottom: 10px;
}

.skill > h1
{
	font-family: cursive;
	margin-bottom: 0px;
	font-size: 60px;	
}
.skill > h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: cursive;
	padding-top: 1px;	
}

@keyframes myanimation
{
	10%{background-color: green;}
	25%{background-color: gold;}
	50%{background-color: goldenrod;}
	75%{background-color: purple;}
	100%{background-color: pink;}
} 


@media screen and (min-width: 500px){
	.top{
		margin: auto;
	}
}
.top
{
	width: 100%;
	height: 100%;
	size: relative;
	margin: auto;
	overflow: auto;
	animation-name: myanimation;
	animation-duration: 20s;	
	animation-fill-mode: initial;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	position: relative;
	box-shadow: 0 4px 8px 0;
	transition: 0.3s;
}
.top:hover{
	box-shadow: 0 8px 16px 0;
}
.top > h2
{
	position: relative;
	font-size: 60px;
	font-family: cursive;
}

p
{
	vertical-align: middle;
	font-family: cursive;
	position: relative;
}

#btn
{
	border: ridge;
	border-color: white;
	position: relative;
	top: 100%;
}


#coding
{
	
	margin:auto;
	text-align:center;
	padding-top: 2px;
	font-family:cursive;
}

a:visited
{
	color: green;
}
